% https://www.overleaf.com/latex/templates/john-miller-cv/djrtsjfvqmnq
%
% !TeX spellcheck = en_GB
% !TeX program = pdflatex
%
% LuxSleek-CV 1.1 LaTeX template
% Author: Andreï V. Kostyrka, University of Luxembourg
%
% 1.1: added tracking and letter-spacing for prettier lower caps, added `~` for language levels
% 1.0: initial release
%
% This template fills the gap in the available variety of templates
% by proposing something that is not a custom class, not using any
% hard-coded settings deeply hidden in style files, and provides
% a handful of custom command definitions that are as transparent as it gets.
% Developed at the University of Luxembourg.
%
% *NOTHING IS HARCODED, and never should be.*
%
% Target audience: applicants in the IT industry, or business in general
%
% The main strength of this template is, it explicitly showcases how
% to break the flow of text to achieve the most flexible right alignment
% of dates for multiple configurations.

\documentclass[11pt, a4paper]{article} 

\usepackage[T1]{fontenc}     % We are using pdfLaTeX,
\usepackage[utf8]{inputenc}  % hence this preparation
\usepackage[british]{babel}  
\usepackage[left = 0mm, right = 0mm, top = 0mm, bottom = 0mm]{geometry}
\usepackage[stretch = 25, shrink = 25, tracking=true, letterspace=30]{microtype}
\usepackage{xcolor}          % To add colour to the document
\usepackage{fontawesome5}    % Provides icons for the contact details
\usepackage{enumitem}        % To redefine spacing in lists
\setlist{parsep = 0pt, topsep = 0pt, partopsep = 1pt, itemsep = 1pt, leftmargin = 6mm}

\usepackage{array}
\usepackage{noto}        % Change this to use any font, but keep it simple
\renewcommand{\familydefault}{\sfdefault}

\definecolor{cvblue}{HTML}{304263}

%%%%%%% USER COMMAND DEFINITIONS %%%%%%%%%%%%%%%%%%%%%%%%%%%
% These are the real workhorses of this template
\newcommand{\dates}[1]{\hfill\mbox{\textbf{#1}}} % Bold stuff that doesn’t got broken into lines
\newcommand{\smaller}[1]{{\small$\diamond$\ #1}}
\newcommand{\headleft}[1]{\vspace*{2.5ex}\textsc{\Large\color{white}#1}\par
    \vspace*{-1ex}{\color{white}\hrulefill}\par}
\newcommand{\headright}[1]{\vspace*{2.5ex}\textsc{\Large\color{cvblue}#1}\par
     \vspace*{-2ex}{\color{cvblue}\hrulefill}\par}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\usepackage{hyperref}

\begin{document}

% Style definitions -- killing the unnecessary space and adding the skips explicitly
\setlength{\topskip}{0pt}
\setlength{\parindent}{0pt}
\setlength{\parskip}{0pt}
\setlength{\fboxsep}{0pt}
\pagestyle{empty}
\raggedbottom

\begin{minipage}[t]{0.33\textwidth}                                                         % Left column -- outer definition
\colorbox{cvblue}{\begin{minipage}[t][5mm][t]{\textwidth}\null\hfill\null\end{minipage}}    % Left column -- top dark rectangle

\vspace{-.2ex} % Eliminates the small gap
\colorbox{cvblue!90}{\color{white}  %% LEFT BOX
\kern0.09\textwidth\relax% Left margin provided explicitly
\begin{minipage}[t][293mm][t]{0.82\textwidth}
\raggedright
\vspace*{2.5ex}

\Huge\textbf{<VAR>Contact.Name</VAR>} \\[0.5ex]
\Large\textit{<VAR>Contact.Title</VAR>} \\[0.5ex]
\normalsize

\vspace*{0.5ex} % Extra space after the picture

\headleft{Contact}
\vspace{0.5ex}
\begin{tabular}{l l}
    \faIcon{map-marker-alt} & <VAR>Contact.Location</VAR> \\
    \faIcon{envelope} & \href{mailto:<VAR>Contact.Email</VAR>}{<VAR>Contact.Email</VAR>} \\
    \faIcon{phone-alt} & <VAR>Contact.Phone</VAR> \\
    \faIcon{linkedin-in} & \href{www.linkedin.com/in/<VAR>Contact.Linkedin</VAR>}{<VAR>Contact.Linkedin</VAR>} \\
    \faIcon{github} & \href{https://github.com/<VAR>Contact.Github</VAR>}{<VAR>Contact.Github</VAR>} \\
\end{tabular}

\headleft{Education}
<BLOCK> for education in Education </BLOCK>
\textbf{<VAR>education.Institution</VAR>} \\
\textit{<VAR>education.Degree</VAR>},\\
<VAR>education.Major</VAR> \\
\begin{itemize}
    \item Graduated <VAR>education.End</VAR>
    <BLOCK> for highlight in education.Highlights </BLOCK>
    \item <VAR>highlight</VAR>
    <BLOCK> endfor </BLOCK>
\end{itemize}
<BLOCK> endfor </BLOCK>

\headleft{Skills}
\begin{itemize}
<BLOCK> for skill in Skills </BLOCK>
    \item <VAR>skill</VAR>
<BLOCK> endfor </BLOCK>
% \item \textbf{Languages:} C/C++, C\#, Python, MATLAB
\end{itemize}

\headleft{Honors}
\begin{itemize}
<BLOCK> for honor in Honors </BLOCK>
    \item <VAR>honor</VAR>
<BLOCK> endfor </BLOCK>
\end{itemize}

\end{minipage}%
\kern0.09\textwidth\relax%%Right margin provided explicitly to stretch the colourbox
}
\end{minipage}% Right column
\hskip2.5em% Left margin for the white area
\begin{minipage}[t]{0.56\textwidth}
\setlength{\parskip}{0.8ex}% Adds spaces between paragraphs; use \\ to add new lines without this space. Shrink this amount to fit more data vertically
\raggedright

\vspace{2ex}

\headright{Experience}
<BLOCK> for experience in Experience </BLOCK>
\textbf{<VAR>experience.Title</VAR>} \dates{<VAR>experience.Start</VAR> - <VAR>experience.End</VAR>} \\
\begin{itemize}
    <BLOCK> for responsibility in experience.Responsibilities </BLOCK>
    \item <VAR>responsibility</VAR>
    <BLOCK> endfor </BLOCK>
\end{itemize}
<BLOCK> endfor </BLOCK>

\headright{Projects}
\renewcommand{\arraystretch}{1.3} % Increase row height by 20%
\begin{tabular*}{\textwidth}{@{}>{\raggedright\arraybackslash}p{0.22\textwidth} @{\hspace{1em}} >{\raggedright\arraybackslash}p{\dimexpr\textwidth-0.22\textwidth-1em\relax}@{}}
<BLOCK> for project in Projects </BLOCK>
    <VAR>project.Name</VAR> & <VAR>project.Description</VAR> \\
<BLOCK> endfor </BLOCK>
\end{tabular*}

\end{minipage}

\end{document}